$text-dark: #222222;
$text-light: #888888;
$required: #C90000;

$border-lightest: #eeeeee;
$border-light: #cccccc;
$border-dark: #222222;

$spacer-xs: 7px;
$spacer-sm: 15px;
$spacer-md: 36px;

$transition: all 0.2s ease;