@import "variables";

@media (min-width: 1200px) {
    .container {
        max-width: 1020px;
    }
}

// General styles
img {
    height: auto;
    max-width: 100%;
}
h1 {
    margin-bottom: $spacer-sm;
    font-size: 20px;
    font-weight: 500;
    color: $text-dark;
}
h2 {
    font-size: 12px;
    text-transform: uppercase;
}
p {
    margin-bottom: $spacer-md;
}
.required {
    color: $required;
}
.button {
    display: inline-block;
    border: 2px $border-dark solid;
    padding: 7px 20px;
    color: $text-dark;
    font-weight: 600;
    text-transform: uppercase;
    transition: $transition;
    &:hover, &:active, &:focus {
        background-color: $border-dark;
        color: white;
        cursor: pointer;
    }
}
body {
    color: $text-light;
    font-size: 12px;
    font-family: sans-serif;
}

// Header
header {
    margin-top: $spacer-sm;
    margin-bottom: $spacer-md;
    background-color: #F6F6F7;
    text-align: right;
    #cart-trigger {
        position: relative;
        display: inline-block;
        padding: $spacer-xs;
        border: 1px transparent solid;
        font-size: 11px;
        color: $text-light;
        z-index: 66;
        cursor: pointer;
        transition: $transition;
        &.active {
            border-color: $border-light $border-light transparent $border-light;
            color: $text-dark;
            background-color: white;
        }
    }
}

// Product Item
.product-item {
    margin-bottom: $spacer-md;
    &__image {
        margin-bottom: $spacer-md;
        @media (min-width: 768px) {
            width: 400px;
            margin-bottom: 0;
        }
    }
    
    &__price {
        margin-bottom: $spacer-sm;
        padding: $spacer-xs 0;
        color: $text-dark;
        font-weight: 600;
        @media (min-width: 768px) {
            border-top: 1px $border-lightest solid;
            border-bottom: 1px $border-lightest solid;
        }
    }
    &__attribute-items {
        font-size: 0;
        margin-bottom: $spacer-sm;
        &__attribute-item {
            display: inline-block;
            border: 1px $border-light solid;
            padding: 10px 15px;
            margin-right: $spacer-xs;
            font-size: 12px;
            transition: $transition;
            &:last-child {
                margin-right: 0;
            }
            &:hover, &:active, &:focus, &.selected {
                border: 2px $border-dark solid;
                padding: 9px 14px;
                color: $text-dark;
                cursor: pointer;
            }
        }
    }
}
#cart-content-container {
    position: relative;
}
#cart-content {
    position: absolute;
    top: -$spacer-md - 1px;
    right: 0;
    max-height: 0;
    max-width: 0;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px $border-light solid;
    background-color: white;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top right;
    transition: $transition;
    z-index: 55;
    &.active {
        max-height: 100vh;
        max-width: 400px;
        transform: scaleY(1);
    }
    .cart-item {
        padding: $spacer-sm;
        color: $text-dark;
        h3, p {
            font-weight: 500;
            margin-bottom: $spacer-xs;
        }
        &__price {
            font-weight: 600;
        }
    }
}